{
  "presets": [
    "react",
    ["env", {
      "useBuiltIns": true,
      "targets": {
        "browsers": [
          "ie >= 11"
        ]
      },
      "modules": true
    }]
  ],
  "ignore": [
    "node_modules"
  ],
  "plugins": [
    "transform-function-bind",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
